@import url('https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet');

*{
	background: #ccc;
	color: #31333a;
	font-family: 'Fjalla One', sans-serif;
}

ul{
	padding: 0;
}
ul > li {
	list-style: none;
	margin: 10px;
	cursor: pointer;
	font-weight: bold;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.filtersContainer{
	display: flex;
	justify-content: center;
	    border: solid;
}

.nav-bar{
	display: flex;
	justify-content: flex-start;
}

.popular-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item{
	margin: 20px;
	text-align: center;
}

.space-list-items{
	margin-bottom: 7px;
}

.avatar{
	width: 150px;
	border-radius: 50%;
}

.active {
	color: #d0021b;
	text-decoration: none;
	font-weight: bold;
}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #cf1528;
  color: #fff;
  padding: 2px 6px;
  border-radius: 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;  
  width: 175px;
}

.home-container{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.button-animated{
  	line-height: 50px;
	transition: color 0.40s, font-size 0.5s;
	width: 200px;
  	height: 50px;
}
.button-animated:hover{
	font-size: 3em;
}

.row{
	display: flex;
	margin: 10px;
	justify-content: space-around;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2em;
}

.column input{
	background-color: white;
	border: #ccc;
	padding: 5px;
	margin-bottom: 20px;
}

.header{
	margin-bottom: 10px;
}